.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.grid-item {
    flex: 1 1 auto;
    background-color: var(--backgrnd-color);
    
    --box-shadow-color: #e1e1e1;
    box-shadow: 0 0 10px var(--box-shadow-color);
    -moz-box-shadow: 0 0 10px var(--box-shadow-color);
    -webkit-box-shadow: 0 0 10px var(--box-shadow-color);
    -o-box-shadow: 0 0 10px var(--box-shadow-color);

    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    min-width: 400px;
}

.main-grid-item {
    flex: 0 0 47%;
}

.sub-grid-item {
    flex: 0 0 30%;
}